.main-artists {
  list-style-type: none;
}

.artist-background {
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 3px black;
  margin: auto;
  width: 60%;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 3px;
  margin-top: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
